{% extends "base.html" %}

{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }}<br/>{{ form.email(size=30) }}
        </div>
        <div>
            {{ form.username.label }}<br/>{{ form.username(size=30) }}
        </div>
        <div>
            {{ form.password.label }}<br/>{{ form.password(size=30) }}
        </div>
        <div>
            {{ form.confirmpassword.label }}<br/>{{ form.confirmpassword(size=30) }}
        </div>
        <div>{{ form.submit() }}</div>
    </form>

{% endblock %}
